html, body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0B0C10 !important;
    color: #66FCF1 !important;
    font-family: Impact !important;
    display: flex;
    min-height: 100% !important;
    width: 100% !important;
    height: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center !important;
    height: 100%;
    max-height: 100%;
}

.renderBody {
    box-shadow: 0 0 5px #45A29E, 0 0 10px #fff, 0 0 20px #45A29E, 0 0 30px #45A29E, 0 0 40px #45A29E, 0 0 55px #45A29E, 0 0 75px #45A29E;
    background-color: #1F2833;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    border: 3px solid #45A29E;
    border-radius: 5%;
}

form {
    width: 70%;
    display: flex;
    align-items: center;
}

footer p{
    text-align: center;
}

h1 {
    width: 100%;
    border-bottom: 3px solid #66FCF1;
    font-size: 390% !important;
    text-align: center;
    text-shadow: 0 0 3px #66FCF1, 0 0 10px black, 0 0 10px #66FCF1, 0 0 10px black, 0 0 10px #66FCF1, 0 0 55px #45A29E, 0 0 75px #66FCF1;
}

h2 {
    text-shadow: 0 0 3px #66FCF1, 0 0 10px black, 0 0 10px #66FCF1, 0 0 10px black, 0 0 10px #66FCF1, 0 0 35px #45A29E, 0 0 55px #66FCF1;
}

.form-horizontal {
    display: -ms-flexbox;
    width: 100%;
    padding: 1%;
    font-family: Impact;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    box-shadow: 0 0 5px #45A29E, 0 0 10px #fff, 0 0 20px #45A29E, 0 0 30px #45A29E, 0 0 40px #45A29E, 0 0 55px #45A29E, 0 0 75px #45A29E;
    font-family: Impact !important;
    border: 2px solid #45A29E;
    border-radius: 15% 15% 0 0;
    padding-bottom: 1%;
    background-color: #0B0C10;
    width: 70% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-family: Impact !important;
    font-size: 105%;
    background-color: black !important;
    color: #45A29E !important;
    text-align: center;
    font-weight: lighter;
}

[class*=' col-']
{
    flex: none !important;
}

.checkbox {
    margin-top: -3%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

input[type=checkbox] {
    margin: 1% auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 130%;
}

input[type=checkbox]:before {
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    content: "\00a0\00a0✓\00a0\00a0";
    background-color: #0B0C10;
    color: #0B0C10;
    display: inline-block;
    visibility: visible;
}

input[type=checkbox]:checked:before {
    color: #45A29E;
    content: "\00a0\00a0✓\00a0\00a0";
}

input[type="submit"] {
    font-size: 150%;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    background-color: #66FCF1 !important;
    color: #0B0C10 !important;
    margin-bottom: 2%;
}

input:hover{
    background-color: #0B0C10 !important;
    color: #45A29E !important;
    box-shadow: 0 0 5px #45A29E, 0 0 10px #fff, 0 0 20px #45A29E, 0 0 30px #45A29E, 0 0 40px #45A29E, 0 0 55px #45A29E, 0 0 75px #45A29E;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #45A29E !important;
    -webkit-box-shadow: 0 0 0 30px #0B0C10 inset;
}

label {
    font-size: 110%;
    text-align: center !important;
    width: 100%;
}

.radioClass {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    border: 1px solid white;
    background-color: #0B0C10;
    border-radius: 5px;
    width: 100%;
}

.radioClass p{
    padding: 1%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    margin: 0 auto;
    background-color: #0B0C10;
    color: #45A29E;
    width: 100%;
    display: block;
}

input[type="radio"]:checked + label {
    background-color: #45A29E;
    color: #0B0C10;
}

.radioLabel{
    width: 100%;
    text-align: center;
}

.radioLabel{
    cursor: pointer;
}

input[type="date"] {
    font-size: 110%;
    text-indent: 1em;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

@-moz-document url-prefix() {
    input[type="date"] {
        padding-left: 33%;
    }
}

#discussion {
    display: inline;
    width: 100% !important;
    margin: 0 auto;
    overflow-y: scroll;
}

.chat-panel{
    margin-top: 1%;
    width: 100% !important;
}

img {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
    width: 10%;
    min-width: 60px;
    min-height: 60px;
    height: 10%;
    border-radius: 50%;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.links div {
    margin-top: -2%;
    margin-bottom: 2%;
    width: 50%;
    border: 1px solid white;
    padding: 1%;
    text-align: center;
    box-shadow: 0 0 5px #45A29E, 0 0 5px #fff, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 15px #45A29E, 0 0 15px #45A29E;
    background-color: #45A29E;
    color: #0B0C10;
}

.links div:hover a {
    color: #45A29E;
}

.links div:hover {
    background-color: #0B0C10;
}

.links div a {
    display: block;
    color: #0B0C10;
    text-decoration: none;
}

#sendmessage {
    border: 3px solid #45A29E;
    border-radius: 15%;
    height: 100%;
    width: 140%;
    background-color: #66FCF1 !important;
    color: #0B0C10 !important;
}

#sendmessage:hover {
    background-color: #0B0C10 !important;
    color: #66FCF1 !important;
    box-shadow: 0 0 5px #45A29E, 0 0 10px #fff, 0 0 20px #45A29E, 0 0 30px #45A29E, 0 0 40px #45A29E, 0 0 55px #45A29E, 0 0 75px #45A29E;
}

#chat {
    box-shadow: 0 0 5px #45A29E, 0 0 10px #fff, 0 0 20px #45A29E, 0 0 30px #45A29E, 0 0 40px #45A29E, 0 0 55px #45A29E, 0 0 75px #45A29E;
    border: 1px solid black;
    border-radius: 1% 1% 1% 1%;
    background-color: #0B0C10;
    color: #45A29E;
    height: 500px;
    width: 90%;
    overflow-y: scroll;
    padding: 2%;
}

#message {
    margin: 1%;
    font-family: Impact !important;
    background-color: black !important;
    color: #45A29E !important;
    text-align: center;
    font-weight: lighter;
    border: 3px solid #45A29E;
    resize: none;
    overflow-y: scroll;
    min-height: 30px;
    width: 15%;
    padding-top: 1.5%;
}

.message {
    font-size: 110%;
    width: auto;
    max-width: 40%;
    height: 100%;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 3%;
    padding: 1px;
    background-color: #1F2833;
    color: #66FCF1;
    word-wrap: break-word;
    margin-top: 1%;
    padding: 1%;
    min-width: 70px;
    text-align: center;
}

.panel-footer
{
    padding: 1%;
    width: 70%;
}

.input-group{
    width: 100%;
}

#logoutForm {
    display: flex;
}


textarea::-webkit-scrollbar{
    width: 4px;
    background: black;
}

textarea::-webkit-scrollbar-track{
    width: 3px;
    background: black;
}

textarea::-webkit-scrollbar-thumb{
    width: 1px;
    background: #45A29E;
}

#chat::-webkit-scrollbar {
    width: 10px;
    background: black;
}

#chat::-webkit-scrollbar-track {
    width: 5px;
    background: black;
}

#chat::-webkit-scrollbar-thumb {
    width: 3px;
    background: #45A29E;
}

#warn {
    font-size: 110%;
    margin-top: -2%;
}

#user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px #45A29E, 0 0 10px #fff, 0 0 20px #45A29E, 0 0 30px #45A29E, 0 0 40px #45A29E, 0 0 55px #45A29E, 0 0 75px #45A29E;
    border: 2px solid #45A29E;
    border-radius: 15% 15% 0 0;
    padding: 5%;
    font-size: 150%;
    min-width: 50%;
}