
@{
    ViewBag.Title = "Forgot Password";
}

<h2>
    Enter email to reset your password:
</h2>

@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-10">Email ID</label>
        <div class="col-md-10">
            @Html.TextBox("EmailID", "", new { @class = "form-control", @placeholder = "Enter Email:" })

        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-success" id="submit" />
    </div>
    <p class="text-warning" id="email-not-found">
        @ViewBag.Message
    </p>
</div>
}

<div class="links col-md-6">
    <div>
    @Html.ActionLink("Register Now!", "Registration", "User")
    </div>
    <div>
    @Html.ActionLink("Login", "Login")
    </div>
</div>

@section scripts{
    <script>
        $("#submit").click.done(function () {
            $("#EmailID").val("");
        });

        $('#EmailID').keydown(function (event) {
            if (event.keyCode == 13) {
                $('#submit').trigger('click');
            }
        });
    </script>    
}