
@{
    ViewBag.Title = "Verify Account";
}

<h2>VerifyAccount</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success!</strong> Your account has been activated successfully. Click login:
    </div>

    <div class="links col-md-6" style="flex-direction:column;">
        <div>
            @Html.ActionLink("Login", "Login", "User")
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ViewBag.Message
    </div>
}